<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mvcwilco.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-013.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mvcwilco</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mvcwilco</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:x1n4dxvvw1.database.windows.net,1433;Initial Catalog=mvcwilco;Integrated Security=False;User ID=iclosem@x1n4dxvvw1;Password=3Fibnj58!;Connect Timeout=30;Encrypt=True" Name="Server=tcp:x1n4dxvvw1.database.windows.net,1433;Database=mvcwilco;User ID=iclosem@x1n4dxvvw1;Password=3Fibnj58!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WilcoCon.Models.ApplicationDbContext, WilcoCon" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WilcoEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:x1n4dxvvw1.database.windows.net,1433;Initial Catalog=mvcwilco;Integrated Security=False;User ID=iclosem@x1n4dxvvw1;Password=3Fibnj58!;Connect Timeout=30;Encrypt=True" Name="Server=tcp:x1n4dxvvw1.database.windows.net,1433;Database=mvcwilco;User ID=iclosem@x1n4dxvvw1;Password=3Fibnj58!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WilcoCon.Models.WilcoEntities, WilcoCon" MigrationConfiguration="WilcoCon.Migrations.Configuration, WilcoCon" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:x1n4dxvvw1.database.windows.net,1433;Database=mvcwilco;User ID=iclosem@x1n4dxvvw1;Password=3Fibnj58!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WilcoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.WilcoDB.csdl|res://*/Models.WilcoDB.ssdl|res://*/Models.WilcoDB.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:x1n4dxvvw1.database.windows.net,1433;Database=mvcwilco;User ID=iclosem@x1n4dxvvw1;Password=3Fibnj58!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>